<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
    <title>Displaying User Data </title>
    <link rel="stylesheet" href="/public/site.css"  type="text/css" >
</head>
<body>

     <header>
      <h1 class="headerTag">Login Page</h1>
    </header>

    <main>
        {{{body}}}           
    </main>
     

      <footer>
      <p>DHARIKA KAPIL </p>
      <p>10453441</p>
    </footer>
</body>

</html>