<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Error Page</title>
   <link rel="stylesheet" href="/public/site.css"  type="text/css" >
</head>
<body>
    <h1>Not Found</h1>      
   <p class="error">Invalid Page</p>  
</body>
</html>