<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Logout</title>
   <link rel="stylesheet" href="/public/site.css"  type="text/css" > 
</head>
<body>
    <h1>Logout</h1>      
    <div class="logout">
    <p>{{ErrorMessage}}</p>

    <a href="/">Please click here to login again!</a>  
    </div>
</body>
</html>